* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

.container {
    max-width: 1114px;
    margin: 0 auto;     
}

/* ======= header ======= */


.header {    
    background-image: url(../img/header-bg.jpg);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    text-align: center;
}


.header-header {    
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding: 33px 0;
    border-bottom: 1px solid #fff;
}

.header-nav {
    max-width: 1114px;   
}

.header-nav__list {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 44px;
}

.header-nav__list-link {
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    color: #fff;
    text-decoration: none;
    transition: 0.2s;
}

.header-nav__list-link:hover {
    color: #ffc41e;
}

.header-search-lang {
    display: flex;
    align-items: center;
}

.header-search {
    width: 100px;
    display: flex;
    align-items: center;
}

.header-search__icon {
    cursor: pointer;
}

.header-search__search {
    width: 0%;
    line-height: 22px;
    border-radius: 3px;
    border: none;
    outline: none; 
    background-color: transparent;   
    transition: 0.2s all;
}

.header-search__search.active {
    width: 70%;
    padding-left: 2px;
    background-color: #fff;
}

.header-lang {
    width: 72px;
    display: flex;
    align-items: center;
    cursor: pointer;
    position: relative;
}

.header-lang__current {
    padding-left: 10px;
    font-size: 16px;
    font-weight: 400;
    color: #fff;
}

.header-lang__choice {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
    left: 30px;
    top: 22px;     
    color: #fff;
    font-size: 15px;
    display: none;       
}

.header-lang__choice span:hover {
    color: #ffc41e;
}

.header-lang__choice.active {
    display: flex;
}

.header-inner {
    display: flex;
    flex-wrap: wrap;
    padding-top: 184px;
    padding-bottom: 53px;
}

.header-inner__text {
    min-width: 50%;
    text-align: left;
}

.header-inner__text-title {
    max-width: 100%;
    font-size: 64px;
    font-weight: 700;
    line-height: 102px;
    text-transform: uppercase;
    color: #fff;
    margin-bottom: 35px;
}

.header-inner__text-subtitle {
    max-width: 370px;
    text-align: left;
    font-size: 24px;
    line-height: 34px;
    color: #fff;
    margin-bottom: 25px;
}

.header-inner__text-link {
    text-decoration: none;
    font-size: 16px;
    line-height: 22px;
    color: #fff; 
    padding-right: 10px;
    position: relative;   
}

.header-inner__text-link-img {
    padding-left: 5px;
}

.header-inner__text-link:hover {   
    text-decoration: underline;    
}

.header-inner__cards {
    max-width: 50%;
    display: flex;
    flex-wrap: wrap;    
    column-gap: 30px;
    row-gap: 30px;
    margin-top: 120px;    
}

.header-inner__card {
    width: 255px;
    padding: 30px 34px;
    text-align: left;
}

.header-inner__card-title {
    font-size: 21px;
    font-weight: 500;
    line-height: 27px;
    color: #fff;
    margin-bottom: 15px;
}

.header-inner__card-link {
    text-decoration: none;
    font-size: 14px;
    line-height: 19px;
    color: #fff;
}

.header-inner__card-link:hover {
    text-decoration: underline;
}

.header-inner__card:nth-child(1) {
    background-color: #2378FC;
}

.header-inner__card:nth-child(2){
    background-color: #30BCC9;
}
.header-inner__card:nth-child(3){
    background-color: #FFC41E;
}
.header-inner__card:nth-child(4){
    background-color: #F6404F;
}



/* ======== main-menu ======= */


.main-menu {
    padding: 75px 0;
    background-color: #2378FC;
}

.main-menu__items {
    display: flex;
    flex-wrap: wrap;
    column-gap: 30px;
    row-gap: 30px;
}

.main-menu__item{
    width: 255px;
}

.main-menu__item-title {
    font-size: 30px;
    font-weight: 500;
    line-height: 39px;
    color: #fff;
    margin-bottom: 30px;
}

.main-menu__item-list {
    list-style: none;
}

.main-menu__item-list-elem {
    margin-bottom: 15px;
}

.main-menu__item-list-link {
    text-decoration: none;
    font-style: 16px;
    line-height: 22px;
    color: #fff;    
}

.main-menu__item-list-link:hover {
    text-decoration: underline;
    color: #FFC41E;
}